body{
  font-family: 'Roboto', sans-serif;
}
.whi_color{
  color:#ffffff;
}
.blu_color{
  color:#031c4e;
}
.bluel_color{
  color: #006aff;
}
.gray_color{
  color: #5c6a88;
}
.aqua_color{
  color: #00d7d2;
}
.bg_aqua{
  background-color: #00d7d2;
}
.bg_whi{
  background-color: #ffffff;
}
.bg_gray{
  background-color: #f3f5f9;
}
.bg_bluel{
  background-color: #006aff;
}
.bg_blue{
  background-color: #031c4e;
}
.header_top{
  height: 60px;
  line-height: 60px;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 2;
}
.first_nav{
  display: inline-block;
}
.first_nav li a,
.second_nav li a{
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #031c4e;
  margin-left: 5px;
}
img.logo_header{
  max-height: 28px;
}
i.angle_down{
  display: inline-block;
vertical-align: middle;
margin-left: 3px;
}
.btn{
  background-color: white;
  border: 2px solid #006aff;
  display: inline-block;
}
a.btn.btn_blue{
  color: #006aff;
  font-size: 14px;
}
.hamb_icon{
  color: #006aff;
  font-size: 20px;
  vertical-align: middle;
}
div.container-fluid.hero{
  margin-top: 60px;
  height: 500px;
  background-image: url('../img/hero_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.container_hero{
  margin-top: 60px;
}
h1{
  font-size: 58px;
  max-width: 80%;
  margin-left: 10px;
}
p.sotto_principale{
  font-size: 23px;
  color: #bbcbfd;
  margin-left: 10px;
}
.container_small{
  width: auto;
  border-radius: 5px;
  padding-bottom: 10px;
  margin: 0 20px 20px 0px;

}
h3, a.link_form{
  font-size: 26px;
  font-weight: bold;
  display: block;
}
h3{
  margin-top: 10px;
  padding-top: 25px;
}
 a.link_form{
 padding-bottom: 15px;
 }
 input.email_psw{
   width: 80%;
   font-size: 18px;
   padding:5px 0 8px 5px;
   margin-bottom: 10px;
   border: 1px solid lightgray;
   border-radius: 8px;
 }
input.create_account{
  background-color: #579aff;
  border: none;
}
input.sign_google{
  background-image: url('../img/google-icon.png');
  background-repeat: no-repeat;
  background-size: 6%;
  background-position: 3%;
  border: none;
  box-shadow: 2px 2px #e3e3e3;
}
p.terms{
  font-weight: bold;
}
section.set_loghi{
  padding-top: 40px;
  padding-bottom: 50px;
}
img.loghi_img{
  display: inline-block;
  height: auto;
  margin: 30px 10px;
  max-width: calc((100% / 6) - 4px);
}







@media screen and (max-width:1199px) {
  h1{
    font-size: 44px;
  }
  p.sotto_principale{
    font-size: 20px;
  }
}
@media screen and (max-width:992px) {
  img.loghi_img {
    margin: 20px 10px;
    max-width: calc((100% / 6) - 24px);
 }
}
@media screen and (max-width:768px) {
  div.container-fluid.hero{
    height: auto;
  }
  img.loghi_img {
    width: 40%;
    max-width: calc((100% / 2) - 24px);
}
}
